:root {
  --fade_time: 300ms;
}

h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5rem 0; }
.clickable { cursor: pointer; }
.app { padding: 0 1em; margin-left: 0; }
.navbar { margin-bottom: 0.5em; justify-content: flex-start; padding: 0; }
.nav-item, .nav-item:visited {
  display: inline-block;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  color: #111;
}
.navbar .log-out:hover {
  color: var(--danger);
  border-bottom-color: var(--danger);
}
.nav-item:hover, .nav-item.active {
  border-color: #111;
  transition: none;
  opacity: 1;
}
.sidebar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;;
  margin-bottom: 1em;
}
.sidebar .list, .sidebar .clear_button {
  display: flex;
  margin: 0 0 0.25em 0;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  width: 100%;
  position: relative;
  left: 0;
  transition: left var(--fade_time);
}

.fade-appear {
  opacity: 0.01;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity var(--fade_time) ease-in;
}

.sidebar .list.active  { background: #0277bd; color: #ddd; }
.sidebar .list.drop_hover { left: 10px; }
.sidebar .list.fake { color: var(--gray); cursor: not-allowed; }

.clear_button { transition: all var(--fade_time); color: #fff; }
.clear_button.active  { background: #be1030; color: #ddd; }
.clear_button.drop_hover { left: 10px; }

.blue {
  color: #0277bd;
}

.new_todo {
  display: inline-flex;
  padding: 0;
  border: 0;
  background: inherit;
  margin: 0;
}
.new_todo input { margin: 0; }
.todo_items { padding: 0; margin: 0 0 2em 0; }
.todo_item {
  display: flex;
  list-style: none;
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
  cursor: pointer;
}
.todo_item .drag_handle { margin-right: 0.5em; color: #aaa; cursor: grab; }
.list_label { margin-left: 0.5em; }
.list_label .remove {
  border-left: 1px solid white;
  padding-left: 4px;
  display: none;
}
.list_label:hover .remove { display: inline-block; }
.list_label .remove:hover { color: red; }
.todo_item input[type="checkbox"] { margin-right: 0.5em; }
.todo_item.completed span { color: var(--gray); text-decoration: line-through; }
.todo_item.dragging { opacity: 0.5; }
.todo_item.fake { color: var(--gray); cursor: not-allowed; }
.lists { margin-left: auto; }
.pretty_input { cursor: pointer; position: relative; }
.pretty_input .edit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 1;
  opacity: 0.2;
  transition: opacity 200ms;
}
.pretty_input:hover .edit { opacity: 1; }
.todo_editor input:focus {
  box-shadow: none;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: #111;
}
.todo_editor input {
  font-size: 1.5rem;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #111;
  border-radius: 0;
  padding: 0;
  box-sizing: content-box;
}
.todo_editor h4 { line-height: 1.5; border-bottom: 1px solid transparent; }
