* { box-sizing: border-box; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5rem 0; }
/* mini.css needs to go */
[type="checkbox"] { height: inherit; width: inherit; position: static; margin: inherit; clip: inherit; clip-path: inherit; }
.d-flex { display: flex; }
.ml-auto { margin-left: auto; }
.as-center { align-self: center; }
.clickable { cursor: pointer; }
.app { padding: 0 1em; margin-left: 0; }
.navbar { margin-bottom: 0.5em; }
.nav_link, .nav_link:visited {
  display: inline-block;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  color: #111;
}
.nav_link:hover, .nav_link.active {
  border-color: #111;
  transition: none;
  opacity: 1;
}
.sidebar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;;
}
.sidebar .list {
  display: flex;
  margin: 0 0 0.25em 0;
  text-decoration: none;
  background: #ddd;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  color: #111;
  width: 100%;
  position: relative;
  left: 0;
  transition: left 300ms;
}
.sidebar .list .fa { opacity: 0; transition: all 300ms; color: #fff; }
.sidebar .list.active { background: #0277bde6; color: #ddd; }
.sidebar .list.droppable .fa { opacity: 1; }
.sidebar .list.drop_hover { left: 10px; }
.sidebar .new_list { padding: 0 0.5em; margin: 0; width: 100%; }
.sidebar .new_list_btn {
  padding: 0 0.5em;
  cursor: pointer;
  align-self: center;
}
.new_todo {
  display: inline-flex;
  padding: 0;
  border: 0;
  background: inherit;
  margin: 0;
}
.new_todo input { margin: 0; }
.todo_items { padding: 0; margin: 0 0 2em 0; }
.todo_item {
  display: flex;
  list-style: none;
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
}
.todo_item .drag_handle { margin-right: 0.5em; }
.todo_item a { text-decoration: none; color: #111; }
.todo_item input[type="checkbox"] { margin-right: 0.5em; }
.todo_item.completed span { color: #999; text-decoration: line-through; }
.todo_item.dragging { opacity: 0.5; }
a.list_link, a.list_link:hover, a.list_link:visited {
  display: inline-block;
  margin: 0 0 0 0.5em;
  text-decoration: none;
  font-size: 75%;
  border-radius: 5px;
  padding: 0.125em .5em;
}
.lists { margin-left: auto; }
