h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5rem 0; }
.clickable { cursor: pointer; }
.app { padding: 0 1em; margin-left: 0; }
.navbar { margin-bottom: 0.5em; justify-content: flex-start; padding: 0; }
.nav-item, .nav-item:visited {
  display: inline-block;
  padding: 0.5em;
  border-bottom: 2px solid transparent;
  color: #111;
}
.nav-item:hover, .nav-item.active {
  border-color: #111;
  transition: none;
  opacity: 1;
}
.sidebar {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5em;;
}
.sidebar .list, .sidebar .clear_button {
  display: flex;
  margin: 0 0 0.25em 0;
  text-decoration: none;
  border-radius: 5px;
  padding: 0.25em 0.5em;
  width: 100%;
  position: relative;
  left: 0;
  transition: left 300ms;
}

.sidebar .list .fa { opacity: 0; transition: all 300ms; color: #fff; }
.sidebar .list.active  { background: #0277bd; color: #ddd; }
.sidebar .list.droppable .fa { opacity: 1; }
.sidebar .list.drop_hover { left: 10px; }

.clear_button { opacity: 0; transition: all 300ms; color: #fff; }
.clear_button.active  { background: #be1030; color: #ddd; }
.clear_button.droppable { opacity: 1; }
.clear_button.drop_hover { left: 10px; }

.new_todo {
  display: inline-flex;
  padding: 0;
  border: 0;
  background: inherit;
  margin: 0;
}
.new_todo input { margin: 0; }
.todo_items { padding: 0; margin: 0 0 2em 0; }
.todo_item {
  display: flex;
  list-style: none;
  padding: 0.5em 0;
  border-bottom: 1px solid #ccc;
  align-items: center;
  cursor: pointer;
}
.todo_item .drag_handle { margin-right: 0.5em; color: #aaa; cursor: grab; }
.todo_item .list_link { margin-left: 0.5em; }
.todo_item input[type="checkbox"] { margin-right: 0.5em; }
.todo_item.completed span { color: #999; text-decoration: line-through; }
.todo_item.dragging { opacity: 0.5; }
.lists { margin-left: auto; }
